// _global.scss
// Global stylesheet

//$primary: #00a6a3 !default;
$primary: #005d80;
$brand-primary: $primary;
$link-color:     $primary;
$link-active-color:#00a6a3;
$link-hover-color:   $link-active-color;
$link-hover-decoration: none;
$navbar-default-link-color: $link-color;
$navbar-default-link-active-color: $link-active-color;
$navbar-default-link-hover-color: $link-active-color;
$tooltip-bg: $link-active-color;

body {
  position: relative;
}

p {
  font-size:medium;
}

.disabled{
  color:gray;
  pointer-events: none;
}

//a.btn.btn-primary:hover, a.btn.btn-primary:focus, a.btn.btn-primary:active, a.btn.btn-primary.active {
//   background-color: $link-active-color;
//   border-color: $link-active-color; 
//}
